[project]
	description = A curated list of amazingly awesome open source sysadmin resources inspired by Awesome PHP.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RAWN Technologies Ltd. (rawntech)
[access "refs/for/refs/*"]
	read = group user/RAWN Technologies Ltd. (rawntech)
	push = group user/RAWN Technologies Ltd. (rawntech)
	label-Code-Review = -2..+2 group user/RAWN Technologies Ltd. (rawntech)
	label-Verified = -1..+1 group user/RAWN Technologies Ltd. (rawntech)
	rebase = group user/RAWN Technologies Ltd. (rawntech)
	removeReviewer = group user/RAWN Technologies Ltd. (rawntech)
	submit = group user/RAWN Technologies Ltd. (rawntech)
[access "refs/heads/*"]
	read = group user/RAWN Technologies Ltd. (rawntech)
	create = group user/RAWN Technologies Ltd. (rawntech)
	push = +force group user/RAWN Technologies Ltd. (rawntech)
	pushMerge = group user/RAWN Technologies Ltd. (rawntech)
[access "refs/tags/*"]
	push = group user/RAWN Technologies Ltd. (rawntech)
	push = +force group user/RAWN Technologies Ltd. (rawntech)
